$body-back: #d2d2d2;

$nav-color: #000;
$nav-back: rgb(255, 255, 255);
$nav-togglers-back: rgb(232, 232, 232);
$nav-togglers-hover: rgb(217, 217, 217);
$nav-x-hover: rgb(255, 255, 255);
$nav-x-hover-back: rgb(255, 0, 0);

$side-menu-back: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url('../../assets/img/back.jpg');
// $side-menu-back: #363636;
$side-menu-color: #fff;

$accent-color: #3AB795;
$accent-color-2: #50D8B4;

$accent-color-3: #e0f780;
$accent-color-4: #b5c574;