$main-font: 'Roboto', sans-serif;
$mono-font: 'Roboto Mono', monospace;
$second-font: 'Unbounded', sans-serif;

//// ROBOTO ////
// THIN
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoWOFF2/Roboto-Thin.woff2") format("woff2");
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoWOFF2/Roboto-ThinItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 100;
  font-display: swap;
}

// LIGHTER
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoWOFF2/Roboto-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoWOFF2/Roboto-LightItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoWOFF2/Roboto-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: lighter;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoWOFF2/Roboto-LightItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: lighter;
  font-display: swap;
}

// REGULAR
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoWOFF2/Roboto-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
// @font-face {
//   font-family: "Roboto";
//   src: url("../fonts/RobotoWOFF2/Roboto-RegularItalic.woff2") format("woff2");
//   font-style: italic;
//   font-weight: normal;
//   font-display: swap;
// }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoWOFF2/Roboto-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
// @font-face {
//   font-family: "Roboto";
//   src: url("../fonts/RobotoWOFF2/Roboto-RegularItalic.woff2") format("woff2");
//   font-style: italic;
//   font-weight: 400;
//   font-display: swap;
// }

// MEDIUM
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoWOFF2/Roboto-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoWOFF2/Roboto-MediumItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}

// BOLD
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoWOFF2/Roboto-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoWOFF2/Roboto-BoldItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoWOFF2/Roboto-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoWOFF2/Roboto-BoldItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

// BLACK
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoWOFF2/Roboto-Black.woff2") format("woff2");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoWOFF2/Roboto-BlackItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 900;
  font-display: swap;
}


//// ROBOTO MONO ////
@font-face {
  font-family: "Roboto Mono", monospace;
  src: url("../fonts/RobotoMono-Light.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}


//// Unbounded ////
@font-face {
  font-family: "Unbounded";
  src: url("../fonts/UnboundedWOFF2/Unbounded-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}